[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
ipython = "*"
flask-shell-ipython = "*"
urllib3 = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
pyjanitor = "*"
plotly = "*"
pandas-profiling = "*"
spacy = "*"
jupyterlab = "*"

[packages]
flask = "*"
jinja2 = "*"
python-dotenv = "*"
gunicorn = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
